<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script type="text/javascript" src="todo2.js"></script>
      
  </head>
  
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here" style="width: 166px; ">
      <hr>
        <h1>Hello  there {{yourName}}!</h1>
    </div>
    <div  ng-controller="personController">
      First Name <input type="text" ng-model="firstName" style="width: 166px; ">
      <hr>
      Second Name <input type="text" ng-model="lastName" style="width: 166px; " >
      <hr>
      Full Name : {{firstName + " " + lastName}}
    </div>
  </body>
</html>